* {
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;
}

ul {
  list-style: none;
  padding: 0;
}

.nuxt-link,
.nuxt-link-active,
.nuxt-link-exact-active {
  color: #222;
  text-decoration: none;
}