.g-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 300px;

  &__label {
    margin-bottom: .25rem;
    margin-left: .25rem;
  }

  &__input {
    font: inherit;
    padding: .5rem;
    border: 1px solid #888;
    background-color: #fcfcfc;
    border-radius: 4px;
  }

  &__input:focus {
    border-color: #0799fa;
    background-color: white;
    box-shadow: 1px 1px 4px #b8b8b8;
  }
}